@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<br />
<div>
    <h3>Staff team:</h3>
    <p>Eventster was made by <b>Moran Tzivoni, Shahaf Shavit </b>and <b>Omer Moran</b>.</p>
</div>
<hr />
<div>
    <h3>What We Do:</h3>
    <p>
        Eventster is all about helping <b>you</b> order tickets as easy as possible to thousands of concerts. <br />
        You are a click away from seeing your favorite artist performs in a city of your choice, all it takes is a simple search for what you love
        and you will have your tickets before you know it. <br />
        We are here to help you find the hottest concerts that are playing in the near-future so you could have the time of your life.
    </p>
</div>
<div>
    <h3>Site features:</h3>
    <p>With Eventster you can see a list of all the concerts in the future along with a very helpful search features to make life as easy as possible for you. <br />
    And that's not everything! You could see the different tickets* that are available for any concerts, along with their prices to bring all the rightful information to you.</p>
</div>
<div>
    <h3>Ticket types:</h3>
    <p>
        There are numerous ticket types for each concert, most of them are: <b>Normal, VIP, Golden Ring</b> and <b>Student</b>.<br />
        Each ticket will grant you different possibilities and closeness to the stage, varying on the price you are willing to pay.
    </p>
</div>