@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Eventster</h1>
</div>
<section>
    <div class="cover-container">
        <img id="cover" src="~/images/3380.jpg" alt="ASP.NET" />
    </div>
</section>